@using TodoList.Data.PlanData;
<style>
	.card{
		padding:3vh 3vh;
		background-color:transparent;
		border:none;
	}
	.input-field {
  background-color: transparent; /* 背景を透明にする */
  border: none; /* 枠線をなくす */
}
 .title{
	font-size: 5.0vh;
	color: var(--title-text-color);
	font-family: var(--title-font);
	font-weight: bold;
	box-sizing:border-box;
	margin-bottom:-1vh;
	width:100%;
	line-height:6vh;
 }
 .title::placeholder{
	 color: var(--title-text-color);
	 filter:opacity(50%);
 }

 textarea{
	resize: none;
	color: var(--primary-text-color);
 }

 textarea:focus{
	 outline:none
 }

  .contents{
	font-size:2vh;
 }

 .titles{
	 margin-bottom: 5vh;
 }

 </style>


<Card Class="@Class">
	<div class="card">

	<div class="titles">
		<AutoRowTextArea MaxRow=3 
			placeholder="Title" 
			@bind-value="@todo.Title"
			class="input-field title"
			Oninput="TitleChanged"/>

		<SelectDate date="todo.Limit"
					 OnChangedate="@todoDateChanged"/>
	</div>

	<AutoRowTextArea class="input-field contents" 
	Oninput="DetailChanged"
	@bind-value="@todo.Detail"
	MaxRow="15"
	MaxLength="500"
	placeholder="Contents" 
	rows="13">@todo.Detail</AutoRowTextArea>
	</div>

</Card>
@code {
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public Todo todo{ get; set;}

	[Parameter]
	public EventCallback<DateTime> todoDateChanged { get; set; }

	[Parameter]
	public EventCallback<string> DetailChanged{ get; set;}

	[Parameter]
	public EventCallback<string> TitleChanged{ get; set;}
}
